@import "../../containers/sass/mixins.scss";
.error {
    @include alignITemsCenter(column);
    // flex-direction: column;
    padding: 5%;
    .error__imageText {
        width: 80%;
    }
    .error__imageDog {
        width: 60%;
    }
}