@import "../../containers/sass/colors.scss";
@import "../../containers/sass/mixins.scss";
.products {
    @include alignITemsCenter(column);
}

.product {
    width: 70%;
    margin: 5px auto;
    @include alignITemsCenter(row);
    border: 1px solid $productBorderColor;
    .product__imageContainer {
        @include alignITemsCenter(row);
        justify-content: center;
        background-color: $lightGray;
        width: 40%;
        padding: 5%;
        .product__image {
            width: 100%;
            mix-blend-mode: multiply;
            overflow: hidden;
            object-fit: contain;
        }
    }
}

.product {
    .product__details {
        padding: 0% 5% 0% 5%;
        width: 60%;
        color: $cardFontColor;
        font-size: 16px;
        line-height: 20px;
        font-weight: lighter;
    }
    .product__title {
        color: $cardFontColor;
        text-decoration: none;
        &:hover {
            color: $darkOrange;
        }
    }
    .product__rating {
        color: $darkOrange;
    }
    .product__price {
        color: $cardFontColor;
        text-decoration: none;
        font-weight: 100;
        font-size: 18px;
    }
    .product__extraDetails {
        p {
            margin: 0;
        }
        font-size: smaller;
        font-weight: 100;
        color: $medGray;
    }
}

@media screen and (max-width: 900px) {
    .product {
        .product__details {
            font-size: 14px;
            line-height: 18px;
        }
    }
}

@media screen and (max-width: 720px) {
    .product {
        .product__details {
            font-size: 10px;
            line-height: 12px;
        }
    }
}