@import "../../../containers/sass/colors.scss";
@import "../../../containers/sass/mixins.scss";
.card {
    color: $cardFontColor;
    width: 48%;
    height: 60vh;
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid $productBorderColor;
    @include boxShadowLightGray();
    h2 {
        margin: 20px;
    }
    img {
        width: 90%;
        height: 80%;
        object-fit: contain;
        margin: auto;
    }
    &:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 720px) {
    .card {
        width: 95%;
        margin: auto;
        height: 40vh;
        margin-bottom: 40px;
    }
}