@import "../../containers/sass/colors.scss";
@import "../../containers/sass/mixins.scss";
.header__search {
    display: flex;
    flex: 1;
    margin: 0 5px;
    &:focus-within {
        border: 2px inset $darkOrange;
        background-color: $darkOrange;
    }
    input:focus-visible {
        outline-style: none;
    }
    .header__searchInput {
        font-size: 16px;
        padding: 1%;
        border: none;
        width: 95%;
        border-radius: 5px 0px 0px 5px;
    }
    .header__searchIcon {
        width: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $lightOrange;
        border-radius: 0px 5px 5px 0px;
        color: $darkBlue;
        &:hover {
            background-color: $darkOrange;
        }
    }
}

.display-mobile {
    display: none;
}

@media screen and (max-width: 900px) {
    .header__search {
        .header__searchInput {
            width: 85%;
        }
        .header__searchIcon {
            width: 15%;
        }
    }
}

@media screen and (max-width: 600px) {
    //
    .display-mobile {
        display: flex;
    }
    .display-desktop {
        display: none;
    }
    .header__search {
        width: 98%;
        margin: auto;
    }
    .header__search {
        .header__searchInput {
            width: 93%;
        }
        .header__searchIcon {
            width: 7%;
        }
    }
}