.header__container {
    background-color: #131921;
    display: flex;
    align-items: center;
}


/* get rid of browser style */

input:focus-visible {
    outline-style: none;
}

.header__logoLink {
    width: 9%;
    margin: 0 1%;
    margin-top: 1%;
}

.header__logo {
    width: 80%;
    object-fit: contain;
}

.header__search {
    display: flex;
    flex: 1;
    margin: 0 10px;
}

.header__search:focus-within {
    border: 2px inset #f39831;
    background-color: #f39831;
}

.header__searchIcon:hover {
    cursor: pointer;
    background-color: #f39831;
}

.header__searchInput {
    padding: 0.5%;
    border: none;
    width: 100%;
    border-radius: 5px 0px 0px 5px;
}

.header__searchIcon {
    padding: 0.5%;
    background-color: #f7bb69;
    border-radius: 0px 5px 5px 0px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}

.header__navLink {
    margin: 3px 10px;
    color: white;
    padding: 5px;
    text-decoration: none;
}

.header__navLink:hover {
    padding: 4px;
    border: 1px inset #fff;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.header__optionLineOne {
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
}

.header__optionLineTwo {
    font-size: 15px;
    line-height: 17px;
    font-weight: 800;
}

.header__optionBasket {
    display: flex;
    align-items: center;
}

.header__basketCount {
    margin: 0 10px;
}