.header__container {
  background-color: #131921;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logoLink {
  width: 100px;
  margin: 0 1%;
  margin-top: 1%;
}

.header__logoLink .header__logo {
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 10px;
}

.header__search:focus-within {
  border: 2px inset #f39831;
  background-color: #f39831;
}

.header__search input:focus-visible {
  outline-style: none;
}

.header__search .header__searchInput {
  padding: 0.5%;
  border: none;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
}

.header__search .header__searchIcon {
  padding: 0.5%;
  background-color: #f7bb69;
  border-radius: 0px 5px 5px 0px;
}

.header__search .header__searchIcon:hover {
  cursor: pointer;
  background-color: #f39831;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__nav .header__navLink {
  margin: 3px 10px;
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.header__nav .header__navLink:hover {
  padding: 4px;
  border: 1px inset #fff;
}

.header__nav .header__navLink .header__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
}

.header__nav .header__navLink .header__option .header__optionLineOne {
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
}

.header__nav .header__navLink .header__option .header__optionLineTwo {
  font-size: 15px;
  line-height: 17px;
  font-weight: 800;
}

.header__nav .header__navLink .header__optionBasket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav .header__navLink .header__optionBasket .header__basketCount {
  margin: 0 10px;
}

.display-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .display-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .display-desktop {
    display: none;
  }
  .header {
    background-color: #131921;
    padding-bottom: 5px;
  }
  .header .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header__container .header__logoLink {
    width: 70px;
  }
  .header .header__search {
    width: 98%;
    margin: auto;
  }
  .header__nav .header__navLink {
    margin: 0px;
    color: #fff;
    padding: 5px;
  }
  .header__nav .header__navLink .header__navLink .header__optionBasket .header__basketCount {
    margin: 0 2px;
  }
}
/*# sourceMappingURL=Header.css.map */