@font-face {
    font-family: "Amazon Ember";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/amazon-ember-cufonfonts/Amazon Ember Medium.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Amazon Ember;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}