@font-face {
    font-family: "Amazon";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/amazon-ember-cufonfonts/Amazon\ Ember\ Cd\ RC.otf") format("truetype");
}

body {
    margin: 0;
    font-family: Amazon;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}