$darkBlue: #131921;
$lightOrange: #f7bb69;
$darkOrange: #f39831;
$white: #fff;
$medGray: #565959;
$lightGray: #f8f8f8;
$cardFontColor: #0f1111;
$productBorderColor: #d5d9d9;
$priceColor: #b12704;
$cartBtnBg: #ffd814;
$torquayColor: #007185;
$boxShadowColor: rgb(213 217 217 / 50%);