@import "./colors.scss";
@import "./mixins.scss";
.header__container {
    background-color: $darkBlue;
    padding: 0.5%;
    @include alignITemsCenter(row);
}

.header__logoLink {
    width: 100px;
    margin: 0 1%;
    margin-top: 1%;
    .header__logo {
        width: 80%;
        object-fit: contain;
    }
}

.header__search {
    display: flex;
    flex: 1;
    margin: 0 5px;
    &:focus-within {
        border: 2px inset $darkOrange;
        background-color: $darkOrange;
    }
    input:focus-visible {
        outline-style: none;
    }
    .header__searchInput {
        font-size: 16px;
        padding: 1%;
        border: none;
        width: 95%;
        border-radius: 5px 0px 0px 5px;
    }
    .header__searchIcon {
        width: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $lightOrange;
        border-radius: 0px 5px 5px 0px;
        color: $darkBlue;
        &:hover {
            background-color: $darkOrange;
        }
    }
}

.header__nav {
    @include alignITemsCenter(row);
    justify-content: space-evenly;
    .header__navLink {
        margin: 3px 10px;
        color: $white;
        padding: 5px;
        text-decoration: none;
        &:hover {
            padding: 4px;
            border: 0.5px inset $white;
        }
        .header__option {
            display: flex;
            flex-direction: column;
            margin: 0 10px;
            .header__optionLineOne {
                @include fontStyle(15px, 16px, 400);
            }
            .header__optionLineTwo {
                @include fontStyle(15px, 17px, 800);
            }
        }
        .header__optionCart {
            @include alignITemsCenter(row);
            font-weight: bolder;
            .header__CartCount {
                margin: 0 3px;
            }
        }
    }
}

.display-mobile {
    display: none;
}

@media screen and (max-width: 900px) {
    .header__search {
        .header__searchInput {
            width: 85%;
        }
        .header__searchIcon {
            width: 15%;
        }
    }
}

@media screen and (max-width: 600px) {
    //
    .display-mobile {
        display: flex;
    }
    .display-desktop {
        display: none;
    }
    //
    .header {
        background-color: $darkBlue;
        padding-bottom: 5px;
        .header__container {
            justify-content: space-between;
            .header__logoLink {
                width: 70px;
            }
        }
        .header__search {
            width: 98%;
            margin: auto;
        }
    }
    .header__search {
        .header__searchInput {
            width: 93%;
        }
        .header__searchIcon {
            width: 7%;
        }
    }
    .header__nav {
        .header__navLink {
            .header__option {
                flex-direction: row;
                align-items: center;
                .header__optionMobile {
                    margin-left: 5px;
                    display: flex;
                    flex-direction: column;
                    span {
                        font-size: 10px;
                    }
                }
            }
        }
    }
    .header__nav {
        .header__navLink {
            margin: 0px;
            color: $white;
            padding: 5px;
            .header__navLink {
                .header__optionCart {
                    .header__CartCount {
                        margin: 0 1px;
                    }
                }
            }
        }
    }
}