@mixin alignITemsCenter {
    display: flex;
    align-items: center;
}

@mixin fontStyle($size, $line-Height, $weight) {
    font-size: $size;
    line-height: $line-Height;
    font-weight: $weight;
}